In [2]:
import pandas as pd

In [4]:
df = pd.read_excel("Presidentielle_2017_Resultats_Communes_Tour_2_c.xls",header=3)
print(df.head(2))
print("----------------------------------------------")
print(df.info())

----------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35719 entries, 0 to 35718
Data columns (total 32 columns):
Code du département       35719 non-null object
Libellé du département    35719 non-null object
Code de la commune        35719 non-null int64
Libellé de la commune     35719 non-null object
Inscrits                  35719 non-null int64
Abstentions               35719 non-null int64
% Abs/Ins                 35719 non-null float64
Votants                   35719 non-null int64
% Vot/Ins                 35719 non-null float64
Blancs                    35719 non-null int64
% Blancs/Ins              35719 non-null float64
% Blancs/Vot              35719 non-null float64
Nuls                      35719 non-null int64
% Nuls/Ins                35719 non-null float64
% Nuls/Vot                35719 non-null float64
Exprimés                  35719 non-null int64
% Exp/Ins                 35719 non-null float64
% Exp/Vot                 35719 non-null float64
N°Panneau                 35719 non-null int64
Sexe                      35719 non-null object
Nom                       35719 non-null object
Prénom                    35719 non-null object
Voix                      35719 non-null int64
% Voix/Ins                35719 non-null float64
% Voix/Exp                35719 non-null float64
N°Panneau.1               35719 non-null int64
Sexe.1                    35719 non-null object
Nom.1                     35719 non-null object
Prénom.1                  35719 non-null object
Voix.1                    35719 non-null int64
% Voix/Ins.1              35719 non-null float64
% Voix/Exp.1              35719 non-null float64
dtypes: float64(12), int64(11), object(9)
memory usage: 8.7+ MB
None

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,Blancs,...,Voix,% Voix/Ins,% Voix/Exp,N°Panneau.1,Sexe.1,Nom.1,Prénom.1,Voix.1,% Voix/Ins.1,% Voix/Exp.1
0,1,Ain,1,L'Abergement-Clémenciat,598,100,16.72,498,83.28,37,...,272,45.48,60.04,2,F,LE PEN,Marine,181,30.27,39.96
1,1,Ain,2,L'Abergement-de-Varey,209,32,15.31,177,84.69,21,...,93,44.50,62.00,2,F,LE PEN,Marine,57,27.27,38.00

In [5]:
df = df.rename(columns = {'Voix':'MACRON'})
df = df.rename(columns = {'Voix.1':'PEN'})
df["winner"] = df.eval("MACRON >= PEN").map({True:1,False:0})
df_cleaned = df[["Libellé de la commune","% Abs/Ins","% Blancs/Ins","% Nuls/Vot","winner"]]
df_cleaned.columns=["town","abstention/subscribers","whiteballot/subscribers","invalid/voters","winner"]
df_cleaned.head()
df_cleaned.to_pickle('df_clean')

In [7]:
print("Results of elections by number of towns")
print(df_cleaned.winner.value_counts().rename({0: "LE PEN", 1: "MACRON"}))
print("----------------------------------------------")
print("new dataset")
df_cleaned.head()

Results of elections by number of towns
MACRON    26530
LE PEN     9189
Name: winner, dtype: int64
----------------------------------------------
new dataset

,town,abstention/subscribers,whiteballot/subscribers,invalid/voters,winner
0,L'Abergement-Clémenciat,16.72,6.19,1.61,1
1,L'Abergement-de-Varey,15.31,10.05,3.39,1
2,Ambérieu-en-Bugey,26.93,7.00,3.46,1
3,Ambérieux-en-Dombes,22.10,6.57,2.63,1
4,Ambléon,23.23,17.17,0.00,1